.Grid {
    padding: 0.05em;
    display: flex;
    flex-direction: column;
}

.Word {
    display: flex;
    flex-direction: row;
}

.Char {
    width: max(50px, 5vh);
    height: max(50px, 5vh);
    font-size: max(40px, 4vh);

    border: solid;
    border-color: var(--darkest);
    border-radius: 0.1em;

    color: white;

    margin: 0.1em;

    display: flex;
    justify-content: center;
    align-items: center;
}