.Grid {
    padding: 0.05em;
    display: flex;
    flex-direction: column;
}

.Word {
    display: flex;
    flex-direction: row;
}

.Char {
    width: 6vh;
    height: 6vh;
    font-size: 5vh;

    border: solid;
    border-color: var(--darkest);
    border-radius: 0.1em;

    color: white;

    margin: 0.1em;

    display: flex;
    justify-content: center;
    align-items: center;
}