.HomeLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  min-width: 100vw;
  background-color:white;

  .CardGroupContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
  }
}