.ColumnContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 80vw;
  align-items: flex-start;
  justify-content: center;
}

.Column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.card {
  margin: 10px;
  background-color: white;
}

.CardText {
  font-size: calc((10px + 2vmin) / 2);
}

.CardHeader {
  font-size: calc((10px + 2vmin));
}