:root {
  /* CSS HEX */
  --darkest: #292f36ff;
  --accent-1: #4ecdc4ff;
  --lightest: #f7fff7ff;
  --accent-2: #ff6b6bff;
  --accent-3: #ffe66dff;
  overflow-x: hidden;
}

$darkest: #292f36ff;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
  border-color: darken($darkest, 5%) !important;
  background-color: var(--darkest) !important;
}

.btn-primary:hover {
  filter: brightness(80%);
}